@charset "UTF-8";
*{ margin:0;
   padding:0;
}
@font-face{
	font-family: 'Mali', cursive;
	font-family: 'Pattaya', sans-serif;
	font-family: 'Open Sans Condensed', sans-serif;
	font-family: 'Patrick Hand', cursive;
	font-family: 'Inconsolata', monospace;
	font-family: 'Indie Flower', cursive;
	font-family: 'Bitter', serif;
	font-family: 'Amatic SC', cursive;

}
@keyframes lista{
	0% {margin-top:0;}
	10% {margin-top:0;}

	15% {margin-top:-36px;}
	30% {margin-top:-36px;}

	35% {margin-top:-73px}
	50% {margin-top:-73px}

	55% {margin-top:-110px}
	70% {margin-top:-110px}

	75% {margin-top:-147px}
	90% {margin-top:-147px}

	100% {margin-top:0;}

}
body {
		width:100%;
		height:1800px;
		background-color:black;
}
a {
	
	text-decoration:none;
	color:white;
}
.caja1 li {
	float:left;
	margin-left:2%;
	list-style:none;

}
.caja1 li a:hover {
	background-color:#33FFE3;
	color:#000;
}

.principal {
		font-family:Amatic SC;
		width:90%;
		height:100%;
		margin-left:5%;
		

}
.header {
		width:100%;
		height:5%;
		background-color:rgba(0,0,0,.5);


}
.header img {
		width:5%;
		padding:15px;
		float:left;

}
.caja1 {
		
		width:50%;
		height:100%;
		font-size:40px;
		float:left;

}
.caja1 ul {
			margin-top:20px;
}
.encabezado {
		width:100%;
		height:20%;
		background-color:#000;
		float:left;
}
.cajaizqui {
		width:49%;
		height:100%;
		background-image:url(../img/mac.jpg);
		background-size:100% 100%;
		float:left;

}
.cajaizqui img {
			width:36%;
			height:32%;
			margin-left:30.7%;
			margin-top:14%;

}
.cajadere {
		width:50%;
		height:100%;
		float:right;
		background-color:#fff;
		text-align:center;


}
.cajadere p {
		text-align:justify;
		padding:15px 20px 0px 20px;
		font-size:20px;
		font-family:"Times New Roman";
}
.cajadere li {
	 	float:none;
		margin-left:0;
		list-style:circle;
		text-align:left;
		font-size:20px;
		font-family:"Times New Roman";

}
.cajadere h2 {
			font-size:30px;
			color:#0DE5F3;
}
.cajadere ul {
	padding: 10px;
	margin-left:10%;
}
.desarrollo_web {
			width:100%;
			height:20%;
			background-image:url(../img/mundo2.jpg);
			background-repeat:no-repeat;
			background-attachment:fixed;
			background-size:cover;
			float:left;
			margin-top:1%;
}
.desarrollo_imagen {
		width:48%;
		height:100%;
		padding:1%;
		float:left;
		background-color:rgba(0,0,0,.4);

}
.desarrollo_imagen img {
		width:100%;
		height:95%;
				


}
.desarrollo_caja {
		width:50%;
		height:100%;
		background-color:rgba(0,0,0,.4);
		float:left;
		
}
.desarrollo_explicacion {
		width:95%;
		height:10%;
		color:#fff;
		font-size:30px;
		font-weight:bold;
		font-family:'Bitter';
		display:flex;
		overflow:hidden;
		margin-top:20%;
		
		padding-left:30px;
		background-color:rgba(0,0,0,.8);
		
}
.desarrollo_explicacion ul{
		list-style:none;
		padding-left:20px;
		animation:lista 7s infinite;
	
}

.publicidad_fondo {
			width:100%;
			height:20%;
			background-image:url(../img/mundo2.jpg);
			background-repeat:no-repeat;
			background-attachment:fixed;
			background-size:cover;
			float:left;
			margin-top:1%;

}

.publicidad_foto {
		width:48%;
		height:100%;
		padding:1%;
		float:left;
		background-color:rgba(0,0,0,.4);

}
.publicidad_foto video {
		width:100%;
		height:95%;
	}
.publicidad_explicacion {
		width:50%;
		height:90%;
		padding-top:10%;
		background-color:rgba(0,0,0,.4);
		float:left;
		color:#fff;
		font-size:30px;
		font-weight:bold;
		font-family:'Bitter';

}
.caja_publi {
		width:100%;
		height:12%;
		background-color:rgba(0,0,0,.8);
}
.publicidad_explicacion span {
		padding-left:20px;

}
.publicidad_foto img {
		width:100%;
		height:95%;
	}
.marketing_fondo {
		width:100%;
		height:20%;
		background-image:url(../img/luces.jpg);
		background-repeat:no-repeat;
		background-attachment:fixed;
		background-size:cover;
		float:left;
		margin-top:1%;
}
.footer {
	width:100%;
	height:12.5%;
	background-image:url(../img/luces.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
	float:left;
	color:#fff;
	font-size:15px;
	font-weight:bold;
	font-family:'Bitter';
}
.caja_footer {
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,.8);
	text-align:center;
}
.columna1 {
	width:25%;
	height:80%;
	float:left;

}
.columna1 img {
	width:20%;
}
.columna2 {
	width:33%;
	height:80%;
	float:left;
	margin-left:8%;
}
.columna2 ul {
	text-align:left;
	margin-left:14%;
	list-style:none;
	text-decoration:underline;
}
.columna3 {
	width:25%;
	height:80%;
	float:left;
	margin-left:8%;
}
.text {
	width:80%;
	height:60%;
	text-align:left;
	font-size:15px;
	padding-left:70px;
}
.final_footer {
	width:100%;
	height:1%;
	background-image:url(../img/luces.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
	float:left;
	color:#fff;
	font-size:10px;
	font-family:'Bitter';
}
.final_footer span {
	text-align:center;
	font-size:10px;
	color:#F2F4F4;
	font-style:italic;
}
/*Página index*/
.encabezado2 {
	width:100%;
	height:60%;
	background-image:url(../img/chispas_fondo.jpg);
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;
	float:left;
	color:#fff;
	font-family:'Bitter';


}
.caja_contenedora {
	width:50%;
	height:25%;
	background-color:rgba(0,0,0,.6);
	float:left;
	border-bottom:1px solid rgba(255,255,255,.4);
	padding:10px;
	margin-left:25%;
}
.caja_contenedora h2 {
	text-align:center;
	margin-top:5px;
}
.caja_contenedora p {
	text-align:justify;
	font-size:20px;
}
.caja_contenedora ul {
		margin-left:20px;
		text-align:justify;
		font-size:19px;
}
.contenedor {
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,.4);
}
/* Página contactos*/
.titular_contactos {
	width:100%;
	height:10%;
	background-color:#fff;
	float:left;
}
.titular_contactos img {
	width:99.5%;
	height:95%;
	margin-top:0%;
	box-shadow:7px 7px 7px rgba(0,0,0,.5);
}
.principal_contac {
	width:100%;
	height:50%;
	background-color:#fff;
}
#formulario{
		width:50%;
		margin-left:25%;
		height:60%;
		font-size:20px;
		border:solid #fff;
		float:left;
		margin-top:5%;
		font-family:'Bitter';
		box-shadow:10px 10px 10px rgba(0,0,0,.6);
}
.email_fo {
	margin-left:3.5%;
}
fieldset {
	text-align:justify;
	font-weight:bold;
	font-size:30px;
	padding:0px 40px;
	
}
fieldset p {
	text-align:justify;
	font-size:10px;
	font-weight:normal;
	font-style:italic;

}
legend {
	text-decoration:underline;
}
label {
	font-size:20px;
	font-weight:normal;
	text-decoration:none;

}
input {
	margin-left:10px;
	height:30px;
	width:300px;
}
.submitbtn {
text-transform: uppercase;
background-color: #33FFE3;
border-radius: 0;
font-weight: bold;
width: 90px;
border: none;
height: 30px;
color: #000;
}
.submitbtn:hover {
color: #fff;
}
.respuesta {
	margin-top:100px;
	margin-left:20%;
	font-size:60px;
	text-align:center;
	color:#000;
	float:left;
}
.respuesta a {
	color:blue;
}
/*Página de servicios*/
.text_box {
	width: 100%;
	height:40%;
	background-color:#fff;
	font-family:Arial;
}
.container {
	width:80%;
	margin-left:10%;
}
.container h2 {
	text-align: center;
	text-decoration:underline;
}
.container p {
	text-align:justify;
}
.container ul {
	margin-left:2%;
	list-style-image:url("../img/viñeta1.jpg");

}
.container a {
	color:#000;
	font-size:17px;

}

/*Servicios y productos*/
.body_ser {
	background-color:#ffff;
}
.desarrollo {
	width:100%;
	height:15%;
	float:left;


}
.izquierda {
	width:46%;
	height:96%;
	float:left;
	background-color:rgba(229,231,233,.3);
	padding:1% 2% 0% 2%;

}
.izquierda:hover{
		box-shadow:10px 10px 10px rgba(0,0,0,.5);
	}
.izquierda h2 {
	text-align: center;
	font-size:30px;
}
.izquierda h2:hover {
	color:#76D7C4;
}
.img_ser {
	width:10%;
	display:inline-block;
	float:left;
	margin-right:15px;

	
}
.img_ser img {
	width:100%;
}
.izquierda p {
	font-size:30px;
	text-align:justify;

}
.derecha {
	width:50%;
	height:100%;
	float:left;
	background-color:rgba(255,255,255,.3);
	
	
}
.derecha a {
	margin:15% 0% 0% 30%;
	float:left;
	text-decoration:underline;
}

.derecha:hover {
	background-color:rgba(056,235,214,.8);
	font-size:50px;

}
.derechos {
	width:20%;
	height:1%;
	margin-left:65%;
	font-size:5px;
	color:#000;
	float:left;
	border:solid black;

}
